---
import Toc from "../components/Toc.astro";
import "../styles/global.css";

const { frontmatter, headings } = Astro.props;

const title = frontmatter?.title ?? "Untitled";
const author = frontmatter?.author ?? "Anonymous";
const date = frontmatter?.date ?? "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.svg`} />
  </head>

  <body>
    <div class="container">
      <div class="topbar">
        <div>Other Blogs</div>
        <div><a href="https://github.com/">Link to Code</a></div>
      </div>

      <div class="layout">
        <aside>
          <Toc headings={headings} />
        </aside>

        <main>
          <h1 class="post-title">{title}</h1>

        <div class="byline">
          <div class="byline-left">
            <span class="by">By</span>
            <span class="author">
              {frontmatter.authorLink ? (
                <a href={frontmatter.authorLink}>{frontmatter.author}</a>
              ) : (
                frontmatter.author
              )}
            </span>
          </div>

          <div class="byline-right">{frontmatter.date}</div>
        </div>

          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
